<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-5 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
        viewBox="0 0 24 24">
        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
        <circle cx="12" cy="13" r="4" />
      </svg>
    </a>
    <span class="mb-md-0 text-body-secondary">&copy; 2023 MovieMajestic, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-body-secondary" href="https://twitter.com/DonfranklinOrj1">
        <svg class="bi" width="24" height="24">
          <use xlink:href="#twitter" />
        </svg>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" href="https://web.facebook.com/profile.php?id=100094192027993">
        <svg class="bi" width="24" height="24">
          <use xlink:href="#facebook" />
        </svg>
      </a>
    </li>
  </ul>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>

</html>